body {
  background: #eee;
  text-align: center;
  /*padding: 0 25px;*/
  font-family: arial, sans-serif;
}

h1 {
  margin: 0px auto 5px;
  font-size: 35px;
  padding: 5px;
}

#main {
  width: 500px;
  margin: auto;
  text-align: left;
  background: white;
  padding: 10px 60px;
  border: solid #ddd;
  border-width: 0 1px 1px 1px;
}

#main h1 span {
  font-style:italic;
}

#main ul {
  list-style-type: none;
  padding:3px;
  margin: 0px auto;
  text-align: left;
}

#main li {
  margin: 10px auto;
  border: 1px LightGray solid;
  padding: 5px;
  border-radius: 5px;
}

#main .username {
  font-size: 1.1em;
  padding-left: 0px;
}

#main .msgText {
  padding-left: 20px;
  font-style: italic;
}

#main .error {
  border: 1px solid red;
  background: #FDEFF0;
  padding: 20px;
}

#main .success {
  margin-top: 25px;
}

#main .success code {
  font-size: 12px;
  color: green;
  line-height: 13px;
}

form {
  padding: 20px;
  padding-left: 0;
  margin-bottom: 20px;
}

form input[type=text] {
  margin-right: 10px;
  width: 70%;
  font-size: 12px;
  padding: 5px;
}

.chat {
  padding: 5px;
  margin-bottom: 5px;
  background-color: #eee;
}

.chat .username {
  font-weight: 800;
}

.chat:hover {
  background-color: #ddd;
}

.spinner {
  float: right;
  height: 46px;
  margin-bottom: 5px;
}

.spinner img {
  padding: 10px;
}

.chatWindow {
  background-color: AliceBlue;
  padding: 3% 5%;
  margin: 3% auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10px gray;
}

#newChat {
  width: 100%;
}

#friendsContainer {
  float:left;
  background-color: white;
  margin-left: 0px;
  padding: 5px 10px;
  border: solid #ddd;
  border-width: 0 1px 1px 1px;
  max-width: 200px;
}

#friendsContainer ul {
  list-style-type: none;
  padding:3px;
  text-align: left;
}

#roomSelect {
  max-width: 345px;
  font-size: 1em;
}
